/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require_self
 */
 @import "variable";
 @import "bulma";

body{
  color: $right-black;
}
.main-bg-color{
  background: $main-bg-color;
}
img{
  max-width: 100%;
  max-height: 100%;
}
img.user-icon{
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.top-push {
  margin-top: 10px;
}
.side-push{
  margin-right: 10px;
  margin-left: 10px;
}

.bottom-push{
  margin-bottom: 10px;
}

.seconde-line-display{
  display: -webkit-box;
   /* autoprefixer: off */
  -webkit-box-orient: block-axis;
  /* autoprefixer: on */
  -webkit-line-clamp: 2;
}

.third-line-display{
  display: -webkit-box;
   /* autoprefixer: off */
  -webkit-box-orient: block-axis;
  /* autoprefixer: on */
  -webkit-line-clamp: 3;
}
.user-comment{
  margin-top: 6px;
  .user-name{
    vertical-align: top;
    font-size: 13px;
  }
  .comment-content{
    overflow: hidden;
    .comment{
      font-size: 13px;
    }
  }
}

// Header
header.navbar{
  position: sticky;
  top: 0;
  .logo{
    padding-left: 0;
    font-weight: bold;
  }
}

// Footer
.footer{
  padding: 2rem 1.5rem 3rem;
  a{
    color: $right-black;
    font-size: 13px;
    padding: 5px;
  }
  .copy{
    color: $right-black;
  }
}
