%footer.main-bg-color.footer
  .has-text-centered
    .links
      %a{ :href => 'https://twitter.com/hatsu_38' }
        運営者
      %a{ :href => 'https://twitter.com/hatsu_38' }
        お問い合わせ
    %p.copy
      &copy; 2019 hatsu
